# <center> Projeto Python para ciência de dados - IBM

Neste projeto do curso de Projeto Python para ciência de dados, irei aplicar os conceitos do curso de Python.

Alguns dados não são disponibilizados via API; sendo necessário usar web-scraping para obtê-los.
Usando beautiful soup, vou extrair dados de compartilhamento de uma página da web.

In [1]:
!pip install pandas
!pip install requests
!pip install bs4
!pip install html5lib
!pip install lxml
!pip install plotly
!pip install beautifulSoup4

Requirement already satisfied: pandas in c:\users\angsanto\appdata\local\programs\python\python311\lib\site-packages (1.5.2)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\angsanto\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\angsanto\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2022.6)
Requirement already satisfied: numpy>=1.21.0 in c:\users\angsanto\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in c:\users\angsanto\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Requirement already satisfied: requests in c:\users\angsanto\appdata\local\programs\python\python311\lib\site-packages (2.26.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\angsanto\appdata\local\programs\python\python311\lib\site-packages (from requests) (1.26.13)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\angsanto\appdata\local\programs\python\python311\lib\site-packages (from requests) (2022.9.24)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\angsanto\appdata\local\programs\python\python311\lib\site-packages (from requests) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in c:\users\angsanto\appdata\local\programs\python\python311\lib\site-packages (from requests) (3.4)
Requirement already satisfied: bs4 in c:\users\angsanto\appdata\local\programs\python\python311\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\angsanto\appdata\local\programs\python\python311\lib\site-packages (from bs4) (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\angsanto\appdata\local\programs\python\python311\lib\site-packages (from beautifulsoup4->bs4) (2.3.2.post1)
Requirement already satisfied: html5lib in c:\users\angsanto\appdata\local\programs\python\python311\lib\site-packages (1.1)
Requirement already satisfied: six>=1.9 in c:\users\angsanto\appdata\local\programs\python\python311\lib\site-packages (from html5lib) (1.16.0)
Requirement already satisfied: webencodings in c:\users\angsanto\appdata\local\programs\python\python311\lib\site-packages (from html5lib) (0.5.1)
Requirement already satisfied: lxml in c:\users\angsanto\appdata\local\programs\python\python311\lib\site-packages (4.9.2)
Requirement already satisfied: plotly in c:\users\angsanto\appdata\local\programs\python\python311\lib\site-packages (5.3.1)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\angsanto\appdata\local\programs\python\python311\lib\site-packages (from plotly) (8.1.0)
Requirement already satisfied: six in c:\users\angsanto\appdata\local\programs\python\python311\lib\site-packages (from plotly) (1.16.0)
Requirement already satisfied: beautifulSoup4 in c:\users\angsanto\appdata\local\programs\python\python311\lib\site-packages (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\angsanto\appdata\local\programs\python\python311\lib\site-packages (from beautifulSoup4) (2.3.2.post1)

In [2]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

Usando Webscraping para extrair o primeiro exemplo de dados. Será usado a biblioteca de solicitações para baixar a página da Web e extrair o texto. Extrairemos os dados de ações da Netflix, no link https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/netflix_data_webpage.html

In [3]:
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/netflix_data_webpage.html"

data  = requests.get(url).text

Em seguida, vamos analisar o texto em html usando beautiful_soup

In [4]:
soup = BeautifulSoup(data, 'html5lib')

Agora podemos transformar a tabela html em um dataframe do pandas

In [24]:
#Primeiro isolamos o corpo da tabela que contém todas as informações
#Em seguida, percorremos cada linha e encontramos todos os valores de coluna para cada linha  
#Por fim, anexamos os dados de cada linha à tabela
netflix_data_new = pd.DataFrame.from_records({"Date":date, "Open":Open, "High":high, "Low":low, "Close":close, "Adj Close":adj_close, "Volume":volume}, index=[0])

netflix_data = pd.concat([netflix_data, netflix_data_new])   
#Agora podemos imprimir o dataframe
netflix_data

            Date    Open    High     Low   Close       Volume Adj Close
0   Jun 01, 2021  504.01  536.13  482.14  528.21   78,560,600    528.21
1   May 01, 2021  512.65  518.95  478.54  502.81   66,927,600    502.81
2   Apr 01, 2021  529.93  563.56  499.00  513.47  111,573,300    513.47
3   Mar 01, 2021  545.57  556.99  492.85  521.66   90,183,900    521.66
4   Feb 01, 2021  536.79  566.65  518.28  538.85   61,902,300    538.85
..           ...     ...     ...     ...     ...          ...       ...
68  Oct 01, 2015  102.91  115.83   96.26  108.38  446,204,400    108.38
69  Sep 01, 2015  109.35  111.24   93.55  103.26  497,401,200    103.26
0   Sep 01, 2015  109.35  111.24   93.55  103.26  497,401,200    103.26
0   Sep 01, 2015  109.35  111.24   93.55  103.26  497,401,200    103.26
0   Sep 01, 2015  109.35  111.24   93.55  103.26  497,401,200    103.26

[73 rows x 7 columns]

In [25]:
# Ou voce pode imprimir as 5 primeiras linhas
netflix_data.head()

           Date    Open    High     Low   Close       Volume Adj Close
0  Jun 01, 2021  504.01  536.13  482.14  528.21   78,560,600    528.21
1  May 01, 2021  512.65  518.95  478.54  502.81   66,927,600    502.81
2  Apr 01, 2021  529.93  563.56  499.00  513.47  111,573,300    513.47
3  Mar 01, 2021  545.57  556.99  492.85  521.66   90,183,900    521.66
4  Feb 01, 2021  536.79  566.65  518.28  538.85   61,902,300    538.85

Também podemos usar a função read_html do pandas usando o url

In [26]:
read_html_pandas_data = pd.read_html(url)

Ou podemos converter o objeto BeautifulSoup em uma string

In [27]:
read_html_pandas_data = pd.read_html(str(soup))

Como há apenas uma tabela na página, apenas pegamos a primeira tabela na lista retornada

In [28]:
netflix_dataframe = read_html_pandas_data[0]

netflix_dataframe.head()

           Date    Open    High     Low  Close* Adj Close**     Volume
0  Jun 01, 2021  504.01  536.13  482.14  528.21      528.21   78560600
1  May 01, 2021  512.65  518.95  478.54  502.81      502.81   66927600
2  Apr 01, 2021  529.93  563.56  499.00  513.47      513.47  111573300
3  Mar 01, 2021  545.57  556.99  492.85  521.66      521.66   90183900
4  Feb 01, 2021  536.79  566.65  518.28  538.85      538.85   61902300

## <center> Usando Webscraping para extrair os dados da ação

###### Use a biblioteca de solicitações para baixar a página da web  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/amazon_data_webpage.html

In [29]:
url =  "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/amazon_data_webpage.html"

dados  = requests.get(url).text

In [30]:
#Analise os dados html usando beautiful_soup.
soup = BeautifulSoup(dados, 'html5lib')

Como obter o conteúdo do atributo title?

In [31]:
#Para obter o título da página, vou usar:
soup.title.string

'Amazon.com, Inc. (AMZN) Stock Historical Prices & Data - Yahoo Finance'

Usando beautiful soup, extraia a tabela com os preços históricos das ações e armazene-a em um dataframe chamado amazon_dados. O dataframe deve ter as colunas Date, Open, High, Low, Close, Adj Close e Volume. Preencha cada variável com os dados corretos da coluna da lista.

In [33]:
df = pd.DataFrame.from_records({"Date":date, "Open":Open, "High":high, "Low":low, "Close":close, "Adj Close":adj_close, "Volume":volume}, index=[0])

amazon_dados = pd.concat([netflix_data, df])   
#Agora podemos imprimir o dataframe
amazon_dados

            Date    Open    High     Low   Close       Volume Adj Close
0   Jun 01, 2021  504.01  536.13  482.14  528.21   78,560,600    528.21
1   May 01, 2021  512.65  518.95  478.54  502.81   66,927,600    502.81
2   Apr 01, 2021  529.93  563.56  499.00  513.47  111,573,300    513.47
3   Mar 01, 2021  545.57  556.99  492.85  521.66   90,183,900    521.66
4   Feb 01, 2021  536.79  566.65  518.28  538.85   61,902,300    538.85
..           ...     ...     ...     ...     ...          ...       ...
69  Sep 01, 2015  109.35  111.24   93.55  103.26  497,401,200    103.26
0   Sep 01, 2015  109.35  111.24   93.55  103.26  497,401,200    103.26
0   Sep 01, 2015  109.35  111.24   93.55  103.26  497,401,200    103.26
0   Sep 01, 2015  109.35  111.24   93.55  103.26  497,401,200    103.26
0   Sep 01, 2015  109.35  111.24   93.55  103.26  497,401,200    103.26

[74 rows x 7 columns]

In [34]:
#Imprima as cinco primeiras linhas do dataframe amazon_data que você criou.
amazon_dados.head()

           Date    Open    High     Low   Close       Volume Adj Close
0  Jun 01, 2021  504.01  536.13  482.14  528.21   78,560,600    528.21
1  May 01, 2021  512.65  518.95  478.54  502.81   66,927,600    502.81
2  Apr 01, 2021  529.93  563.56  499.00  513.47  111,573,300    513.47
3  Mar 01, 2021  545.57  556.99  492.85  521.66   90,183,900    521.66
4  Feb 01, 2021  536.79  566.65  518.28  538.85   61,902,300    538.85

#### <center> Qual é o nome das colunas do dataframe?

In [40]:
df.columns

# OU

Index(['Adj Close', 'Close', 'Date', 'High', 'Low', 'Open', 'Volume'], dtype='object')

In [39]:
amazon_dados.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Adj Close'], dtype='object')

In [38]:
#Podemos melhorar a saída deixando num formato de lista, para que você possa usar em algumas funções que pedem tal formato:

list(df.columns)

['Adj Close', 'Close', 'Date', 'High', 'Low', 'Open', 'Volume']

#### <center> Qual é o *Open* da última linha do dataframe amazon_dados?

In [41]:
df['Open'].tail(1)
df.Open.tail(1)
#No lugar de df pode-se usr o nome do dataframe(amazon_dados)

0    109.35
Name: Open, dtype: object